body {
	background: lightgray;
	height: 100%;
}
input {
	margin: 20px auto;
}
input:focus {
	border: 1px solid #eedd82 !important;
}
textarea {
	outline: none;
	width: 170px;
	margin: 0 auto;
    border: none !important;
}
.main {
	
}
.subMain {
	width: 1160px;
	margin: 0 auto;
}
button {
	height: 40px;
	cursor: pointer;
}
button:focus {
	box-shadow: none !important;
}
.btn-success {
	width: 110px;
}
.danger {
	margin-left: 10px;
}
.wrap {
	padding: 15px;
	width: 200px;
	height: 200px;
	float: left;
	margin: 15px;
	position: relative;
	font: 125% calibri;
	cursor: pointer;
	color: #2f4f4f;
}
.points {
	height: 100%;
}
.btn-sm {
	height: 30px !important;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.fa-plus {
	margin-top: 3px;
}
.btn-info {
	margin-left: 10px !important;
}

.slowlyNotes-enter {
    opacity: 0;
}
.slowlyNotes-enter.slowlyNotes-enter-active {
    opacity: 1;
    transition: 0.33s opacity ease;
}
.slowlyNotes-leave {
    opacity: 1;
}
.slowlyNotes-leave.slowlyNotes-leave-active {
    opacity: 0;
    transition: 0.33s opacity ease;
}
.dropdown-menu {
    padding: 7px;
}
.date {
    position: absolute;
    bottom: -8px;
    right: 10px;
    font: 50% calibri;
}
.fa-spinner {
    color: #696969;
}
.forloader {
	transform: translate(-50%);
	position: fixed;
    top: 48%;
    left: 50%;
}
.buttons {
	margin-top: 20px;
}
.maininp {
	margin-top: 21px;
}
.mainrow {
	padding-left: 26px;
}
.brush {
	margin-right: 33px;
}
.brush i {
	margin-top: 2px;
}
.cross i {
	margin-right: -1px;
}
.dispnon {
	display: none;
}
.error {
	position: fixed;
	transform: translate(-50%);
	font: 150% calibri;
    top: 48%;
    left: 50%;
    color: #696969;
}
.arrowUp {
	height: 15px;
	width: 15px;
	position: fixed;
	bottom: 110px;
	right: 43px;
}
.arrowUp span {
	transition: .35s all ease-in;
	color: #696969;
	cursor: pointer;
}
.fa-circle-thin:hover {
	text-shadow: 0 0 3px #eedd82;
}
.circ {
	position: relative;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: 1px solid #696969;
	transition: .3s all ease;
	cursor: pointer;
}
.circ:hover {
	border: 1px solid #eedd82;
	box-shadow: 0 0 3px .5px #eedd82;
}
.circ i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.ccb {
	clear: both;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	background: #a9a9a9;
	margin-top: 25px;
	color: #2e2a2a;
}
.footer div {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
	width: 95%;
}
.footer div a {
	text-decoration: none;
	color: #2e2a2a;
	transition: .3s all ease;
}
.footer div a:hover {
	color: #eedd82;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.main {
		width: 960px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.main {
		width: 760px;
	}
}